fire==0.4.0
Flask==2.0.1
Flask-Cors==3.0.10
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==2.6.0
jupyter-client==7.3.4
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
nlp==0.4.0
nltk==3.6.2
numpy==1.22.4
opencv-python==4.5.5.62
pandas==1.4.1
scipy==1.8.0
selenium==3.141.0
sequential==1.0.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tokenizers==0.12.1
torch==1.9.0
torch-optimizer==0.1.0
torchvision==0.10.0
virtualenv==20.4.7
